@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Now that Poppins is imported, you can use it in your CSS */
body {
    font-family: 'Poppins', sans-serif !important;
}
.nav-linkH:hover {
  color: #fff !important;
}
.text-indigo{
  color: #f5f7fd; /* Indigo-100 */
}
.bg-indigo{
  background-color: #051955;
}
.bg-indigo-light{
  background-color: #092a8d;

}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

